.contact {
  overflow: hidden;
  background-color: var(--upperColor);
  padding: 10px 10px 0px 10px;
}

.contact a {
  float: left;
  color: white;
  text-decoration: none;
  padding: 6px;
  transition: transform .2s;
}

.contact a:hover {
  filter: invert(43%) sepia(16%) saturate(1499%) hue-rotate(166deg) brightness(95%) contrast(94%);
  transform: scale(1.2);
}

.contact a.active {
  background-color: var(--upperColor);
  color: white;
}
