
* {
  text-align: center;
  font-family: Ubuntu Mono;
  color: black;
}

h1 {
  font-size: 50px;
  margin: 0;
  padding: 0;
  line-height: 150%;
}

p {
  font-size: 24px;
}

.container {
  display:flex;
}
.fixed {
  width: 50%;
}
.flex-item {
  width: 50%;
  flex-grow: 1;
}
