
* {
  text-align: center;
  font-family: 'Dongle';
  color: #7477de;
}

h1 {
  font-size: 50px;
  margin: 0;
  padding: 0;
  line-height: 150%;
}

p {
  font-size: 24px;
}

.info-box {
  background-color: #56c5cb;
  text-shadow: -1px -1px 0 #56c5cb, 1px -1px 0 #56c5cb, -1px 1px 0 #56c5cb, 1px 1px 0 #56c5cb;
  border-radius: 20px;
  width: 90%;
  margin: 0 auto;
}

.container {
  display:flex;
}
.fixed {
  width: 50%;
}
.flex-item {
  width: 50%;
  flex-grow: 1;
}
