

* {
  text-align: center;
  font-family: 'Dongle';
  color: var(--botColor);
}

h1 {
  font-size: 50px;
  margin: 0;
  padding: 0;
  line-height: 150%;
}

p {
  font-size: 24px;
}

.info-box {
  background-color: var(--upperColor);
  text-shadow: -1px -1px 0 var(--upperColor), 1px -1px 0 24var(--upperColor)6EB9, -1px 1px 0 var(--upperColor), 1px 1px 0 var(--upperColor);
  border-radius: 20px;
  width: 90%;
  margin: 0 auto;
}

.container {
  display:flex;
}
.fixed {
  width: 50%;
}
.flex-item {
  width: 50%;
  flex-grow: 1;
}
