.header {
  overflow: hidden;
  background-color: var(--upperColor);
  padding: 10px 10px 0px 10px;
}

.header a {
  float: left;
  padding: 6px;
  transition: transform .2s;
}

.header a:hover {
  transform: scale(1.2);
}

.header-right {
  float: right;
}

.header-left {
  float: left;
}

@media screen and (max-width: 300px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.text {
  text-align: center;
  font-family: Ubuntu Mono;
  color: var(--botColor);
  user-select: none;
  text-shadow: -1px -1px 0 var(--upperColor), 1px -1px 0 var(--upperColor), -1px 1px 0 var(--upperColor), 1px 1px 0 var(--upperColor);
}

.foot {
  background-color: var(--botColor);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.foot-text {
  text-align: center;
  font-family: 'Dongle';
  font-size: 22px;
  user-select: none;
  text-decoration: none;
  color: #0F0F0F;
}