.header {
  overflow: hidden;
  background-color: #56c5cb;
  padding: 10px 10px 0px 10px;
}

.header a {
  float: left;
  padding: 6px;
  transition: transform .2s;
}

.header a:hover {
  transform: scale(1.2);
}

.header-right {
  float: right;
}

.header-left {
  float: left;
}

@media screen and (max-width: 300px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.text {
  text-align: center;
  font-family: Ubuntu Mono;
  color: #7477de;
  text-shadow: -1px -1px 0 #56c5cb, 1px -1px 0 #56c5cb, -1px 1px 0 #56c5cb, 1px 1px 0 #56c5cb;
}

.foot {
  background-color: #7477de;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.foot-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Ubuntu Mono;
  color: #000000;
  padding-bottom: 3px;
  padding-top: 3px;
}