
.layout-box {
  background-color: var(--upperColor);
  margin: 0 auto;
}

.info-text {
  text-align: center;
  color: var(--upperColor);
  text-shadow: -1px -1px 0 var(--botColor), 1px -1px 0 var(--botColor), -1px 1px 0 var(--botColor), 1px 1px 0 var(--botColor);
}

.choice {
  transition: transform .2s;
}

.choiceButton {
  border-style: solid;
  border-width: 15px 15px;
  border-radius: 50px;
}

.choiceButton:hover {
  transform: scale(1.2);
}

.choiceButton.active {
  background-color: var(--upperColor);
}

.circle {
  transition: transform .25s;
  filter: brightness(50%) grayscale(20%);
  user-select: none;
}

.circle:hover {
  filter: brightness(100%);
  transform: scale(1.4);
}

.circle.active {
  background-color: var(--upperColor);
  color: white;
}
