
.container {
  position: relative;
  text-align: center;
  background-color: var(--botColor);
}

.text-on-top-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-on-bottom-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  text-align: center;
  font-family: Ubuntu Mono;
  color: var(--botColor);
  text-shadow: -1px -1px 0 var(--upperColor), 1px -1px 0 var(--upperColor), -1px 1px 0 var(--upperColor), 1px 1px 0 var(--upperColor);
}

.slogan {
  text-align: center;
  font-family: 'Dongle';
  color: var(--upperColor);
  text-shadow: -1px -1px 0 var(--botColor), 1px -1px 0 var(--botColor), -1px 1px 0 var(--botColor), 1px 1px 0 var(--botColor);
}