
.container {
  position: relative;
  text-align: center;
  background-color: #7477de;
}

.text-on-top-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-on-bottom-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  text-align: center;
  font-family: Ubuntu Mono;
  color: #7477de;
  text-shadow: -1px -1px 0 #56c5cb, 1px -1px 0 #56c5cb, -1px 1px 0 #56c5cb, 1px 1px 0 #56c5cb;
}

.slogan {
  text-align: center;
  font-family: 'Dongle';
  color: #56c5cb;
  text-shadow: -1px -1px 0 #7477de, 1px -1px 0 #7477de, -1px 1px 0 #7477de, 1px 1px 0 #7477de;
}